.form-row {
  margin-bottom: 16px;
}

.form-row > label {
  width: 100px;
  display: inline-block;
}
.form-row > select  {
  width: 150px;
}
.form-row input {
  width: 142px;
}

.form-error > ul {
  padding: 0;
  margin: 0;
}
.form-error > ul > li {
  color: red;
  margin-bottom: 3px;
}

.save {
  margin: 32px 0;
}